.container {
  display: block;
  background: white;
  border-radius: 5px;
  box-shadow: 1px 3px 3px 0px #d5d5d5;
  position: relative;
  margin: 10px;
  width: 370px;
  margin-bottom: 20px;

  .header {
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 152px;
    cursor: pointer;
    background: #2980b9;
  }

  .content {
    padding: 30px;
    border-radius: 0 0 5px 5px;
  }
}