.container {
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
        width: 50%;
        height: 50%;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: white 0px 0px 29px -2px;
        background: white;
        animation-name: anim;
        animation-fill-mode: forwards;
        animation-duration: .3s;
    }
}

@keyframes anim {
    0% {
        background: rgba(255, 255, 255, 1);
        border-radius: 100px;
        width: 50%; height: 50%;
    }

    50% {
        background-color: rgba(255, 255, 255, .8);
        width: 100%;
        height: 100%;
        border-radius: 100px;
    }

    100% {
        background-color: rgba(255, 255, 255, .5);
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }
}